amplify-authenticator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: calc(100vh - 20px);
}

.logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    .logout-text {
        font-size: 1.5rem;
        font-weight: bold;
    }
}